<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Conta PRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
    <img src="/assets/construcao.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Funcionalidade em desenvolvimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Em breve esta funcionalidade estará pronta e você poderá ativar sua conta PRO</p>
    </ion-card-content>
  </ion-card>
</ion-content>
