<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="finger-print"></ion-icon>
      <ion-label>Carteirinha</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Solicitar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="close-circle"></ion-icon>
      <ion-label>Cancelar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notificações</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
