<ion-header>
  <ion-toolbar color="#2E7D32">
    <ion-title>
      Manager RU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list *ngIf="aluno==null" lines="full" class="ion-no-margin ion-no-padding">
    <ion-card class="welcome-card">
      <ion-item class="qrcode">
        <img src="/assets/user.png" alt="" />
      </ion-item>

    </ion-card>
    <ion-item>
      <ion-label position="stacked">Matricula <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="matricula" name="matricula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="password" [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button (click)="buscarAluno()" expand="block" class="ion-no-margin">Entrar</ion-button>
    </div>

  </ion-list>



  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="log-out"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="none" *ngIf="aluno!=null">
    <ion-item *ngFor="let campeonato of campeonatos" (click)="selecionarCampeonato(campeonato.id)">
      <ion-label>{{campeonato.nome}}</ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-card class="welcome-card">
      <div class="qrcode">
        <img src="/assets/user.png" alt="" />
      </div>
      <ion-card-header>
        <ion-card-title>Nome: <b>{{aluno.nome}}</b></ion-card-title>
        <ion-card-title>Matricula: <b>{{aluno.matricula}}</b></ion-card-title>
      </ion-card-header>

    </ion-card>

    <ion-list>
      <ion-list-header>
        <b>Identificacao:</b>
      </ion-list-header>


      <div class="teste1">
        <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value" qrc-class="teste1"
          qrc-errorCorrectionLevel="L">
        </ngx-qrcode>
      </div>
    </ion-list>

    <!--<ion-item disabled="{{selectDisabled}}">
      <ion-label>Selecionar Campeonato</ion-label>
      <ion-select #select1 [(ngModel)]="idCampeonato" value="notifications" interface="action-sheet"
        (ionChange)="selecionarCampeonato()">

        <ion-select-option *ngFor="let campeonato of campeonatos" value="{{campeonato.id}}">{{campeonato.nome}}
        </ion-select-option>

      </ion-select>
    </ion-item>-->
  </ion-list>
</ion-content>