ion-toolbar{
  background-color: #2E7D32;
  color: white;
}

ion-content{
  background-color: red ;
}

.welcome-card{
  background-color: #4CAF50;
}

ion-card-title{
  color: white
}

.btn-search{
  text-align: center
}

.qrcode{
  
  text-align: center;
  width: 150px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.teste1{
  text-align: center;
  
  height: 100%;
  margin: 15px;
  border: 1px dashed black;
}

.teste2{
  height: 300px;
}

@media print {
  ion-card-title{
    font-size: 12px;
  }
   .label{
    visibility: hidden;
    display: none;
   }
   ion-card-header{
     text-align: center;
     font-style: oblique;
   }
   ion-header{
    visibility: hidden;
    display: none;
   }
   ion-list {
     width: 100%;
   }
  .ticket-no-print{
    color: transparent !important
  }

  ion-tabs{
    visibility: hidden;
    display: none;
  }

  body * {
      visibility: hidden;
      display: none;
  } 

  #content * {
    visibility: hidden;
    display: none
  }
  #section-to-print, #section-to-print * {
    visibility: visible;     
  }

#section-to-print{
  visibility: visible;
  width: 207px;  
  border: 2px solid black;
  height: 321px;
        
}

.qrcode{
  visibility: hidden;
  text-align: center;
  width: 50px;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
    }
    #section-to-print *{
      position: relative;
      left: 0;
      top: 0;

    }

    * {
      background:transparent !important;
      color:black !important;
      text-shadow:none !important;
      filter:none !important;
      -ms-filter:none !important;
      }
      
      body {
      margin:0;
      padding:0;
      line-height: 1.4em;
      }

      #img-perfil{
        border-radius: 50%;
      }
      
  }

