<ion-header class="ticket-no-print">
  <ion-toolbar color="#2E7D32">
    <ion-title>
      Manager RU
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list class="ticket-no-print" *ngIf="aluno==null" lines="full" class="ion-no-margin ion-no-padding">
    <ion-card class="welcome-card">
      <div class="qrcode" id="ftPrint">
        <img src="/assets/user.png" alt="" />
      </div>

    </ion-card>
    <ion-item>
      <ion-label position="stacked">Matricula <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="text" [(ngModel)]="matricula" name="matricula"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Senha <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required type="password" [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button (click)="buscarAluno()" expand="block" class="ion-no-margin">Entrar</ion-button>
    </div>

  </ion-list>

  <ion-fab *ngIf="aluno!=null" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button color="light">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="imprimir()">
        <ion-icon name="print"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list id="section-to-print" lines="none" *ngIf="aluno!=null">
    <ion-item *ngFor="let campeonato of campeonatos" (click)="selecionarCampeonato(campeonato.id)">
      <ion-label>{{campeonato.nome}}</ion-label>
      <ion-icon name="arrow-dropright"></ion-icon>
    </ion-item>

    <ion-card class="welcome-card">
      <div class="qrcode">
        <img src="/assets/user.png" alt="" />
      </div>
      <ion-card-header>
        <ion-card-title><b class="label">Nome:</b> {{aluno.nome}}</ion-card-title>
        <ion-card-title><b class="label">Matricula:</b> {{aluno.matricula}}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-list>
      <div class="teste1">
        <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="value" qrc-class="teste1"
          qrc-errorCorrectionLevel="L">
        </ngx-qrcode>
      </div>
    </ion-list>

    <!--<ion-item disabled="{{selectDisabled}}">
      <ion-label>Selecionar Campeonato</ion-label>
      <ion-select #select1 [(ngModel)]="idCampeonato" value="notifications" interface="action-sheet"
        (ionChange)="selecionarCampeonato()">

        <ion-select-option *ngFor="let campeonato of campeonatos" value="{{campeonato.id}}">{{campeonato.nome}}
        </ion-select-option>

      </ion-select>
    </ion-item>-->
  </ion-list>
</ion-content>