<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Arena MilGrau
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/arena.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Campeonatos Online</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Quer divulgar seu campeonato de forma pratica? quer ficar por dentro dos campeonatos da sua cidade?. O Arena
        League é o app perfeito pra você! </p>
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Informe o CEP e a LIGA</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="pin"></ion-icon>
      <ion-input [(ngModel)]="cep" (change)="buscarCampeonatos()" placeholder="CEP"></ion-input>
    </ion-item>
    <ion-item disabled="{{selectDisabled}}">
      <ion-label>Campeonatos</ion-label>
      <ion-select  [(ngModel)]="idCampeonato" value="notifications" interface="action-sheet"
        (ionChange)="selecionarCampeonato()">
        
          <ion-select-option *ngFor="let campeonato of campeonatos" value="{{campeonato.id}}">{{campeonato.nome}}</ion-select-option>
 
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>