<ion-header>
  <ion-toolbar color="#2E7D32">
    <ion-title>
      Cancelar Refeição
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <ion-list>

    <ion-item>
      <ion-label>De</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Até</ion-label>
      <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
    </ion-item>
    
    
    <ion-item>
      <ion-label>Almoço</ion-label>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
      <ion-label>Jantar</ion-label>
    </ion-item>

    <ion-item>
        <ion-label>Motivo</ion-label>
        <ion-textarea rows="6" cols="20" placeholder="Informe aqui o motivo de sua solicitação"></ion-textarea>
      </ion-item>

      <ion-input type="file" placeholder="Enter Input"></ion-input>

      <section>
        <ion-button expand="block">Enviar</ion-button>
      </section>
  </ion-list>
</ion-content>