<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Times
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-fab vertical="bottom" [routerLink]="['/cadastro-clube']" routerLinkActive="router-link-active"  horizontal="center" slot="fixed">
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <!--<ion-list >
    <ion-item *ngFor="let clube of clubes" [routerLink]="['/time/'+clube.id]" routerLinkActive="router-link-active" >
      <ion-avatar slot="start">
        <img src="./assets/escudo.png" class="img-responsive">
      </ion-avatar>
      <ion-label>
        <h2>{{clube.nome}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>-->

  <ion-searchbar (ionInput)="getUsuarios($event)"></ion-searchbar>
  <ion-item *ngIf="showSpinner">
      <ion-label>Buscando Times..</ion-label>
      <ion-spinner></ion-spinner>
    </ion-item>
  <ion-list>
    <ion-item *ngFor="let clube of clubesSearch" [routerLink]="['/time/'+clube.id]"
      routerLinkActive="router-link-active">
      <ion-avatar slot="start">
        <img src="./assets/escudo.png" class="img-responsive">
      </ion-avatar>
      <ion-label>
        <h2>{{clube.nome}}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>